*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  gap: 30px;
}

.result {
  padding-top: 78px;
}

.result__video-container {
  width: 711px;
  height: 386px;
}
.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.search-form {
  display: flex;
  gap: 40px;
  margin-top: 16px;
}
.search-form__fieldset {
  width: 100%;
}
.search-form__fieldset-title {
}
.search-form__label {
}
.search-form__label-text {
}

.search-form__textfield {
}
.search-form__checkbox-list {
}
.search-form__checkbox {
}
.search-form__pseudo-checkbox {
}
.button {
}
.search-form__submit-button {
}

.content__details {
}
.title {
display: inline-block;
padding: 0 139px 26px 0;
font-family: 'Oswald';
font-weight: 700;
font-style: normal;
font-size: 75px;
line-height: .94;
letter-spacing: 0;
text-transform: uppercase;

}
.content__accent {
  color: #545050;
}

.content__list-container {
  max-height: 298px;
  overflow-y: scroll;
}

.content__list {
}

.preloader-template {
}
.preloader {
}
.preloader-chasing-squares {
}
.square {
}
.cards-list-item-template {
}
.content__list-item {
}

.content__list-item:not(:last-child) {
    margin-bottom: 30px;
}

.content__card-link {
}
.content__video-card {
  display: flex;
}
.content__video-card-description-container {
}
.content__video-card-title {
}
.content__video-card-description {
}
.content__video-card-thumbnail {
}
.more-button-template {
}
.button {
}
.more-button {
}
.error-template {
}
.error {
}
.error__title {
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}