*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 34px;
  color: white;
  background-color: transparent;
  border: solid currentColor 1px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  padding: 0;
}

.content {
  display: flex;
  gap: 30px;
}

.result {
  padding-top: 78px;
}

.result__video-container {
  width: 711px;
  height: 386px;
}
.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.search-form {
  display: flex;
  gap: 40px;
  margin-top: 16px;
}
.search-form__fieldset {
  max-height: 54px;
  width: 100%;
  border: none;
}
.search-form__fieldset-title {
  display: inline-block;
  min-height: 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
}
.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
}
.search-form__label:focus-within {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__label-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
}

.search-form__textfield {
  min-height: 27px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px white solid;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  height: 22px;
  margin-bottom: 5px;
}

.search-form__checkbox {
}
.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  border: 1px white solid;
}

.search-form__pseudo-checkbox::after {
  position: absolute;
  content: "";
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: none;
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__submit-button {
  min-width: 194px;
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.title {
  display: inline-block;
  padding: 0 139px 0 0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 0.94;
  letter-spacing: 0;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}

.content__list-container {
  justify-self: flex-end;
  width: 399px;
  max-height: 298px;
  overflow-y: scroll;
  padding-right: 3px;
  padding-bottom: 2px;
}

.content__list {
}

.preloader-template {
}
.preloader {
}
.preloader-chasing-squares {
}
.square {
}
.cards-list-item-template {
}

.content__list-item {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
}
.content__video-card {
  display: flex;
  justify-content: space-between;
}
.content__video-card-description-container {
  width: 196px;
  color: white;
  letter-spacing: 0;
}
.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}
.more-button-template {
}

.more-button {
  width: calc(100% - 2px);
  margin-left: 2px;
}
.error-template {
}
.error {
}
.error__title {
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
