*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 34px;
  border: solid currentColor 1px;
  padding: 0;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content {
  display: flex;
  gap: 30px;
}

.result {
  width: 711px;
  padding-top: 78px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  overflow: hidden;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  gap: 40px;
  margin-top: 16px;
}

.search-form__fieldset {
  width: 100%;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
}

.search-form__textfield {
  width: 225px;
  min-height: 27px;
  border: none;
  border-top: 1px currentColor solid;
  border-bottom: 1px currentColor solid;
  color: white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  border: 1px white solid;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 15px;
  height: 15px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__submit-button {
  align-self: flex-end;
  min-width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 0.9335;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  justify-self: flex-end;
  width: 399px;
  max-height: 298px;
  padding: 2px 3px 3px 2px;
  overflow-y: auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 196px;
  color: white;
  letter-spacing: 0;
}

.content__video-card-title {
  margin-bottom: 4px;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  overflow: hidden;
  font-weight: 400;
  line-height: 16.2px;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button {
  width: calc(100% - 2px);
  margin-top: 30px;
  margin-left: 2px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}