*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 34px;
  color: white;
  background-color: transparent;
  border: solid currentColor 1px;
  font-family: 'Fira Sans Condensed', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1;
letter-spacing: 0;
padding: 0;
}



.content {
  display: flex;
  gap: 30px;
}

.result {
  padding-top: 78px;
}

.result__video-container {
  width: 711px;
  height: 386px;
}
.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.search-form {
  display: flex;
  gap: 40px;
  margin-top: 16px;
}
.search-form__fieldset {
  max-height: 54px;
  width: 100%;
}
.search-form__fieldset-title {
}
.search-form__label {
}
.search-form__label-text {
}

.search-form__textfield {
}
.search-form__checkbox-list {
}
.search-form__checkbox {
}
.search-form__pseudo-checkbox {
}
.button {
}

.search-form__submit-button {
  min-width: 194px;
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.title {
display: inline-block;
padding: 0 139px 0 0;
font-family: 'Oswald', sans-serif;
font-weight: 700;
font-style: normal;
font-size: 75px;
line-height: .94;
letter-spacing: 0;
text-transform: uppercase;

}
.content__accent {
  color: #545050;
}

.content__list-container {
  justify-self: flex-end;
  max-height: 298px;
  overflow-y: scroll;
  padding-right: 3px;
  padding-bottom: 2px;
}

.content__list {
}

.preloader-template {
}
.preloader {
}
.preloader-chasing-squares {
}
.square {
}
.cards-list-item-template {
}

.content__list-item {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
}
.content__video-card {
  display: flex;
  justify-content: space-between;

}
.content__video-card-description-container {
  width: 196px;
  color: white;
  letter-spacing: 0; 
}
.content__video-card-title {
  font-family: 'Oswald', sans-serif;
font-weight: 700;
font-size: 30px;
line-height: 1;
text-transform: uppercase;
  overflow: hidden;
text-overflow: ellipsis;

}
.content__video-card-description {
font-weight: 400;
line-height: 16.2px;
  overflow: hidden;
text-overflow: ellipsis;


}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}
.more-button-template {
}

.more-button {
  width: calc(100% - 2px);
  margin-left: 2px;
}
.error-template {
}
.error {
}
.error__title {
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}